{
  "options": {
    "paths": {
      "root": "",
      "fonts": "font-glyphs/glyphs"
    },
    "maxScaleFactor": 1,
    "maxSize": 2048,
    "serveAllFonts": false,
    "serveAllStyles": false,
    "serve_data": true,
    "serveStaticMaps": true,
    "allowRemoteMarkerIcons": true,
    "allowInlineMarkerImages": true,
    "formatOptions": {
      "png": {
        "palette": true,
        "colors": 4
      },
      "webp": {
        "quality": 90
      }
    },
    "maxRendererPoolSizes": [$NPROC],
    "minRendererPoolSizes": [$NPROC] 
  
  },
  "styles": {
    "foreflight": {
      "style": "style.json",
      "serve_rendered": true
    }
  }
}
